<% if current_user.is_admin? %>
<div class='col-md-12'>
  <%= link_to "Criar nova tarefa", new_task_url, :class=>"btn btn-primary" %>
</div>
<% end %>

<div class='col-md-12'>
<table class='table table-striped'>
  <h2> Minhas Tarefas </h2>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <% if current_user.is_admin? %>
        <th>Assinalada ?</th>
      <% end %>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= link_to task.name, task %>
      </td>

      <td>
        <%= render :partial=>"task_status_field", locals: {task: task, send_ajax: true} %>
      </td>

      <% if current_user.is_admin? %>
        <td>
          <% if task.user.nil? %>
            SEM USUÁRIO
          <% else %>
            <%= link_to task.user.name, task.user %>
          <% end %>
        </td>
      <% end %>

      <td>
        <%= link_to "Editar", edit_task_url(task.id) %>
      </td>

      <td>
        <%= link_to "Excluir", task,  method: :delete, data: { confirm: 'Tem certeza ?' }  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
