<div class="col-md-6 col-md-offset-3">
  <%= form_for @user do |f| %>
    <div class='form-group'>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, :class=>"form-control", :placeholder=>"Informe seu nome", :maxlength=>"50" %>
    </div>

    <div class='form-group'>
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, :class=>"form-control", :placeholder=>"Informe seu e-mail" %>
    </div>

    <div class='form-group'>
      <%= f.label :description, "Escreva sobre suas competências e interesses" %>
      <%= f.text_area :description, :class=>"form-control" %>
    </div>

    <div class='form-group'>
      <%= f.label :areas_worked, "Em que área já trabalhou? (Opcional)" %>
      <%= f.text_area :areas_worked, :class=>"form-control" %>
    </div>

    <% if current_user.is_admin? %>
      <div class='form-group'>
        <%= f.label :area, "Área atual" %>
        <%= f.select :area, area_as_options(@user.area), {:prompt=> "Selecione"}, {:class=>"form-control"} %>
      </div>
    <% end %>

    <div class='form-group'>
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, :class=>"form-control" %>
    </div>

    <div class='form-group'>
      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, :class=>"form-control" %>
    </div>

    <div class='form-group'>
      <%= f.submit 'Salvar', class: "btn btn-primary" %>
      &nbsp;&nbsp;
      <%= link_to "Voltar", :back %>
    </div>
  <% end %>
</div>
