<!DOCTYPE html>
<html>
<head>
  <title>Engerir</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
  <div id='top-bar'>
    <%= render :partial => "shared/top_bar" %>
  </div>

  <% end %>

  <div id='main-content'>
    <%= yield %>
  <div>

  <div id='footer'>
    <%= render :partial => 'layouts/footer' %>
  </div>

</body>
</html>
